DATABASE_URL="mysql://tamamgatemanarah_db_user:yahiamo991122Z@127.0.0.1:3306/tamamgatemanarah_portal
JWT_SECRET=sdkfjsdkfj231232fjjjjjjjf
VITE_APP_ID=dev-app-id
VITE_OAUTH_PORTAL_URL=https://tamamgate.manarah.org.sa
VITE_ANALYTICS_ENDPOINT=https://tamamgate.manarah.org.sa
VITE_ANALYTICS_WEBSITE_ID=dev-website-id
OAUTH_SERVER_URL=https://tamamgate.manarah.org.sa
OWNER_OPEN_ID=dev-owner-id
PORT=3000
NODE_ENV=production

SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tamamgate@manarah.org.sa
SMTP_PASS="pK9#mX2!vL7$qZ4*"
SMTP_SERVICE=

# OneDrive Storage Configurations
ONEDRIVE_TENANT_ID=099fc9d3-1204-42fc-a52f-8cf4b1175889
ONEDRIVE_CLIENT_ID=9fff3267-5061-40fe-bf17-9cabc222f597
ONEDRIVE_CLIENT_SECRET=h5-8Q~xIib.8EDjMckZ.9ylVa-JGRGJu3EDyEayv
ONEDRIVE_USER_PRINCIPAL_NAME=tamamgate@manarah.org.sa
