DATABASE_URL=mysql://tamamgatemanarah_db_user:YOUR_PASSWORD@127.0.0.1:3306/tamamgatemanarah_portal
JWT_SECRET=jksjksdjfkjfksjf123
VITE_APP_ID=dev-app-id
VITE_OAUTH_PORTAL_URL=https://tamamgate.manarah.org.sa
VITE_ANALYTICS_ENDPOINT=https://tamamgate.manarah.org.sa
VITE_ANALYTICS_WEBSITE_ID=dev-website-id
OAUTH_SERVER_URL=https://tamamgate.manarah.org.sa
OWNER_OPEN_ID=dev-owner-id
PORT=3000
NODE_ENV=development

# SMTP Email Notifications Configuration (e.g. Gmail, Office 365, etc.)
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tamamgate@manarah.org.sa
SMTP_PASS=YOUR_EMAIL_OR_APP_PASSWORD
SMTP_SERVICE=
MOTTASL_API_TOKEN=
MOTTASL_API_URL=https://api.mottasl.ai/v1
NEXT_PUBLIC_ALLOWED_ORIGINS=https://tamamgate.manarah.org.sa,http://localhost:3000